row_lookup.json
{
  "name": "row lookup",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query_column"
            },
            {
              "name": "query_value"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "e16171a3-0597-4927-8d6c-249eb7bfefdd",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f51437b8-74d0-40c5-84a1-6548c3dd73e1",
              "leftValue": "={{ $json[$('When Executed by Another Workflow').item.json.query_column] }}",
              "rightValue": "={{ $('When Executed by Another Workflow').item.json.query_value }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        660,
        0
      ],
      "id": "dc8ebd50-cc91-4e72-90e5-d32edce8f0d5",
      "name": "Filter"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1T7HsZ5sRwkftTzUMCsqyOsHHJBCPG6zAbCxfB9r6ch8",
          "mode": "list",
          "cachedResultName": "titanicdata",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T7HsZ5sRwkftTzUMCsqyOsHHJBCPG6zAbCxfB9r6ch8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T7HsZ5sRwkftTzUMCsqyOsHHJBCPG6zAbCxfB9r6ch8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        0
      ],
      "id": "60675dd2-3a72-4583-b15c-2497e62f1e3a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JeHZgZkaOF1BFHi8",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3b74c247-be36-4668-b2fe-819923b02e49",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "07e704f71135ded0241a99635143a013648aba3859501d2ae808f0a2e753d262"
  },
  "id": "1bnrPIX4a8NQJFRR",
  "tags": []
}